div {
  flex-direction: column;
  display: flex; /* or inline-flex */
  flex-grow: 1;
  color: rgb(172, 172, 172);
}
div:nth-child(1){
  justify-content: center;
}
div:nth-child(1) div{
  background-color: #222222;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  width: 95%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(172, 172, 172);
  justify-content: center;
}
div:nth-child(1) div{
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  width: 95%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(172, 172, 172);
}
div:nth-child(1) div ul img{
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  color: rgb(172, 172, 172);
}
div:nth-child(1) div ul {
  align-content: center;
  justify-content:center;
  align-content: center;
  align-items: center;
  color: rgb(172, 172, 172) !important;
  align-content: space-between !;

}
div:nth-child(1) div ul li{
  display: inline;
  text-align: center;
  color: rgb(172, 172, 172);
}
div:nth-child(2){

  align-items:center;
  height: 450px;
  width: 960px;
  width: 960px;
  min-height:450px;
  

}
div:nth-child(3){
  width: 960px;
  height:300px;
  flex-direction: row;
  justify-content: space-evenly;
 background-color: white !important;



}
div:nth-child(3)>div{

  border: rgb(0, 0, 0) 2px solid;
  display: inline; /* the default for span */
  width: 33.3%;
  min-height: 375px;
  flex: 1 1 23vw;
 min-height:400px;
 background-color: #222222 !important;
}

div:nth-child(4){
  flex-direction: row;
  min-height:480px;
  
  height: auto;
  align-content: space-between;
  min-height:400px;
  min-width:480px;
  

}

div:nth-child(4)>div{

  height: 100%;
  width: 50%;
 position: relative;
 display: inline;
 height: auto;
 font-size:large;
 justify-content: center;

 text-align: left;
}
div:nth-child(4)>div p{
  min-width: 480px;
  min-height: 400px;
 position: relative;

}
